<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #img-of-the-day {
            width: 700px;
            height: 400px;
        }
        label{
            font-weight: bold;
            font-size: 20px;
            color: red;

        }
        span{
            font-size: 18px;
        }

    </style>
</head>
<body>
<div class="content-picture">

    <img id="img-of-the-day">

    <form action="/picture/create" method="post" th:object="${picture}">
        <select th:field="*{grade}" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <p>auther:</p>
        <input th:field="*{author}" required>
        <p>FeedBack</p>
        <textarea th:field="*{feedBack}" required></textarea><br>
        <button type="submit">comment</button>
    </form>
<p>---------------------------------------------------------</p>
    <p>những lượt comment trong ngày</p>


    <table>
        <tr th:each="i:  ${list}">
            <td>
            <label>tác giả :</label><span th:text="${i.author}"></span><br>
                <label>comment:</label><span th:text="${i.feedBack}"></span>
            </td>
            <td>
                <h4><span th:text="${i.numberLike}"></span> like</h4>
                <a th:href="@{/picture/like/{id}(id=${i.id})}">like</a>
            </td>
        </tr>

    </table>


</div>
</body>

<script>
    let query = 'https://api.nasa.gov/planetary/apod?api_key=riRHZJcxAtpdRAX8Q46tR8Gl2R7Pt38zRAHvlxzb';
    let request = new XMLHttpRequest();
    request.open('GET', query);
    request.onload = function () {
        if (request.status === 200) {
            let response = JSON.parse(request.responseText);
            document.getElementById('img-of-the-day').setAttribute('src', response.url);
        }
    };
    request.send();
</script>
</html>