<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/furamaCss.css">

    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.css"
            rel="stylesheet"
    />




</head>
<body style="background-attachment: fixed;background-position: center center;background-repeat: no-repeat;background-size: cover; background-image:  url('https://bitly.com.vn/dfbwxw'); width: 100%; object-fit: cover">

<!--menu header-->
<div style="background-color:#ccbdbc" class="container-fluid">

    <div class="container" id="menu-main">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <span class="logo" style="color: #262626; font-size: 30px">KHẢI ONICHAN</span>

            </div>

            <div id="menu__login" class="col-lg-8 col-md-8 col-sm-8">
                <ul id="login">
                    <li class="login__item">
                        <i class="login__item_i" data-mdb-toggle="tooltip" data-mdb-placement="top" title="đơn vị tiền tệ ">
                            VND
                        </i>
                    </li>
                    <li class="login__item">
                        <i class="flag flag-vietnam login__item_i" data-mdb-toggle="tooltip" data-mdb-placement="top"
                           title="chọn quốc gia ">
                        </i>
                    </li>
                    <li class="login__item">
                        <i class="fas fa-question login__item_i" data-mdb-toggle="tooltip" data-mdb-placement="top"
                           title="liên hệ dịch vụ khách hàng ">
                        </i>
                    </li>

                    <li class="login__item">
                        <button  style="color: white" type="button" class="btn btn-outline-primary btn-rounded"
                                 data-mdb-ripple-color="dark"><label style="color: #262626">đăng kí chổ nghỉ</label>
                        </button>
                    </li>

                    <li class="login__item">
                        <button type="button" class="btn btn-primary btn-rounded">Đăng kí</button>
                    </li>
                    <li class="login__item">
                        <button type="button" class="btn btn-primary btn-rounded">Đăng nhập</button>
                    </li>


                </ul>


            </div>


        </div>
        <!--        end row1-->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul id="menu-footer">
                    <li class="button__icon">
                        <i data-mdb-toggle="tooltip" data-mdb-placement="top" title="lưu trú">
                            <i  style="color: white" class="fas fa-bed menu-footer-header-img"></i>
                        </i>

                        <button style="color: white" type="button" class="btn btn-outline-primary btn-rounded menu-footer-header"
                                data-mdb-ripple-color="dark"><a href="#">lưu trú</a>
                        </button>
                    </li>
                    <li class="button__icon">
                        <i data-mdb-toggle="tooltip" data-mdb-placement="top" title="chuyến bay">
                            <i style="color: #f1f1f1" class="fas fa-plane"></i>
                        </i>
                        <button style="color: white" type="button" class="btn btn-outline-primary btn-rounded"
                                data-mdb-ripple-color="dark"><a href="#">chuyến bay</a>
                        </button>
                    </li>
                    <li class="button__icon">
                        <i data-mdb-toggle="tooltip" data-mdb-placement="top" title="chuyến bay+ khách sạn">
                            <i style="color: white" class="fas fa-atom"></i>
                        </i>
                        <button style="color: white" type="button" class="btn btn-outline-primary btn-rounded"
                                data-mdb-ripple-color="dark"><a href="#">chuyến bay + khách sạn</a>
                        </button>
                    </li>
                    <li class="button__icon">
                        <i data-mdb-toggle="tooltip" data-mdb-placement="top" title="thuê xe">
                            <i style="color: white" class="fas fa-car"></i>
                        </i>
                        <button style="color: white" type="button" class="btn btn-outline-primary btn-rounded"
                                data-mdb-ripple-color="dark"><a href="#">thuê xe</a>
                        </button>
                    </li>
                    <li class="button__icon">
                        <i data-mdb-toggle="tooltip" data-mdb-placement="top" title="địa điểm">
                            <i style="color: white" class="fas fa-car"></i>
                        </i>
                        <button style="color: white" type="button" class="btn btn-outline-primary btn-rounded"
                                data-mdb-ripple-color="dark"><a href="#">địa điểm tham quan</a>
                        </button>
                    </li>
                    <li class="button__icon">
                        <i data-mdb-toggle="tooltip" data-mdb-placement="top" title="taxi">
                            <i  style="color: white" class="fas fa-paper-plane"></i>
                        </i>
                        <button style="color: white" type="button" class="btn btn-outline-primary btn-rounded"
                                data-mdb-ripple-color="dark"><a href="#">taxi sân bay</a>
                        </button>
                    </li>


                </ul>


            </div>


        </div>


    </div>


</div>
<div class="container">

<!--    <div class="dropdown">-->
<!--        <button-->
<!--                class="btn btn-primary dropdown-toggle"-->
<!--                type="button"-->
<!--                id="dropdownMenuButton"-->
<!--                data-mdb-toggle="dropdown"-->
<!--                aria-expanded="false">-->
<!--            FACILITY-->
<!--        </button>-->
<!--        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--            <li>-->
<!--                <a th:each="itemp : ${serviceTypeList}" th:value="${itemp.id}",-->
<!--                   th:text="${itemp.serviceTypeName}"  class="dropdown-item"  th:href="@{/facility/createService}"></a>-->
<!--            </li>-->

<!--        </ul>-->

        <button class="btn btn-primary" type="button" >
            <a style="color: black" class="delete_btn"
               data-mdb-toggle="modal" data-mdb-target="#deleteModal">FACILITY</a>
        </button>
<!--    th:data-id="${itemp.id}-->


    <button class="btn btn-primary" type="button" >
        <a href="/employee/list" style="color: #262626">EMPLOYEE</a>
    </button>

        <button class="btn btn-primary" type="button" >
           <a href="/furama/list" style="color: #262626"> CUSTOMER</a>
        </button>
        <button class="btn btn-primary" type="button" >
           <a href="/contract/create" style="color: #262626"> CONTRACT</a>
        </button>
    <button class="btn btn-primary" type="button" >
        <a href="/contract/detail" style="color: #262626"> CONTRACT DETAIL</a>
    </button>
    </div>
<!--    -->


</div>


<!--phần content-->
<div class="container">
  <div class="row">
<!--      phần navbar-->
      <div class="col-lg-3 col-md-3-col-sm-3">


      </div>
<!--      Phần content- main-->
      <div class="col-lg-9 col-md-9 col-sm-9">



      </div>
<!--      end content-->
<!--    start navbar right -->
      <div class="col-lg-3 col-md-3 col-sm-3">






      </div>


  </div>




</div>




<!--endmenu header-->


<!-- Font Awesome -->


<!-- MDB -->


<!--modal-->
<div
        class="modal fade"
        id="deleteModal"
        data-mdb-backdrop="static"
        data-mdb-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">CHỌN LOẠI DỊCH VỤ </h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                <!--                <input type="hidden" id="customerDelete_id" name="customer_id">-->
            </div>

            <div class="modal-footer">
<!--                <button type="button"  data-mdb-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary" id="delete_customer_id">ok</button>-->
                <button th:each="itemp : ${serviceTypeList}" class="btn btn-secondary">
                    <a th:href="@{/facility/createService/{id}(id=${itemp.id})}" th:text="${itemp.serviceTypeName}"></a></button>

            </div>
        </div>
    </div>
</div>

<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.0.0/mdb.min.js"
></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</body>
</html>