<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{list.create}">Create customer</title>
    <button><a th:href="@{/create-customer(lang=vi)}">Việt Nam</a> </button>
    <button><a th:href="@{/create-customer(lang=en)}">English</a></button>
</head>
<body>
<h1 th:text="#{list.create}">Create customer</h1>
<p>
    <a th:text="#{list.listCustomer}" href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td th:text="#{list.firstName}">First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td th:text="#{list.lastName}">Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input th:value="#{list.deleteCustomer}"  type="submit" value="Create customer"></td>
        </tr>
    </table>
</form>
</body>
</html>
